body{
	color:White;
	background-color:#19181b;
	text-align: center;
}

card {
	background-color:#3e3c44;
}

.navbar {
	color:white;
	background-color:#3e3c44;
}

.navbar-nav {
	float:none;
	margin:0 auto;
	display: block;
	text-align: center;
}

.navbar-nav > li {
	display: inline-block;
	float:none;
}

.nav-link {
	color:white;
}

.link-home:hover {
	color:black;
	background-color:lightgray;
}

.link-art:hover {
	color:white;
	background-color:purple;
}

.link-craft:hover {
	color:white;
	background-color:blue;
}

.link-comm:hover {
	color:white;
	background-color:green;
}

.link-shop:hover {
	color:black;
	background-color:yellow;
}

.link-contact:hover {
	color:white;
	background-color:red;
}

.rainbow {
    background: linear-gradient(
		0.75turn, red, orange, yellow, green, blue, purple
	);
}

.jumbotron{
	margin-top:50px;
}

.header-rainbow {
    background: linear-gradient(
		0.75turn, #660000, #663300, #666600, #006600, #000066, #660066
	);
	text-align:center;
}

.header-art {
	background: #660066;
	text-align:center;
}

.header-craft {
	background: #000066;
	text-align:center;
}

.header-commissions {
	background: #006600;
	text-align:center;
}

.header-store {
	background: #666600;
	text-align:center;
}

.header-contact {
	background: #660000;
	text-align:center;
}